- with_lessons = false unless defined?(with_lessons)
%div{:id => "#{dom_id course}"}
  %h3= course.title
  %p
    %strong Price:
    = course.price
  %p
    %strong Instructor:
    = course.instructor

