%p{:style => "color: green"}= notice
#courses
  - @courses.each do |course|
    = render course, locals: { with_lessons: false }
    Lessons: #{course.lessons.count}
    %p
      = link_to "Show this course", course
